/*Configuração Global do Layout*/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #222;
    background-color: #f8f4f4;
}

/*Estilo dos links*/
a {
    text-decoration: none;
    color: #ffffff;
}

/*Design das seções (tags section)*/

nav {
    width: 100%;
    background-color: #0e4863;
}

.nav {
    display: flex;
    justify-content: space-around;
    font-weight: 700;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

.nav .name {
    display: block;
    width: 50%;
    margin-right: auto;
    color: #F6C545;
    font-family: 'Bebas Neue', cursive;
    font-size: 2em;
    padding-top: 5px;
    text-align: left;
    padding-left: 10px;

}

.nav .name a {
    color: #fff;
}

.nav .name a:hover {
    color: #ff0037;
}

.nav li:nth-child(2) {
    padding: 15px;
    color: white;
}

.nav li:nth-child(3) {
    padding: 15px;
    color: white;
}

.nav li:nth-child(4) {
    padding: 15px;
    color: white;
}

.nav a {
    transition: ease-in .5s
}

.nav a:hover {
    color: #F6C545;
}

a:active {
    color: #F6C545;
}
/*Início do cabeçalho*/
    
header{
    text-align: center;
    background:url(../images/North-American-P-51.jpg)no-repeat bottom center;
    background-size: cover;
    overflow: hidden;
    padding: 60px;
    line-height: 1.5;
}

header .profile-image{
    margin-top: 50px;
    width: 150px;
    height: 150px;
    transition: ease-in .7s;
}

header .profile-image:hover{
    transform: scale(1.13) rotate(5deg);
}

.tag{
    background-color: #ffffff;
    color: #222;
    padding: 10px;
    border-radius: 5px;
    display: table;
    margin: 10px auto;
}

h1.tag.name{
transition:  transform .5s;
}
h1.tag.name:hover {
    transform: scale(1.05) translatey(-5px);
  }

p.tag.location{
    background-color: #222;
    color: #F6C545;
}
p.tag.location:hover{
    transform: scale(1.05) translatey(-1px);
}

section{
    margin: 30px;
    padding: 20px 29px 40px;
    max-width: 400px;
    min-height: 442px;
    text-align: left;
    background: #ffffff;
    border-bottom: 4px solid #ccc;
    border-radius: 6px;
}

section:hover{
    border-color: #C28800;
}

section.home{
    max-width: 600px;
    padding: 24px 45px 45px;
}

section img{
    float: left;
    display: block;
    width:38%;
    height: auto;
    margin-right: 15px;
    margin-bottom: 8px;
}

h2{
    margin-bottom: 32px;
}

h3.goals{
    text-align: center;
    color: #990000;
}

strong{
    color: #990000;
}

footer{
    width: 100%;
    min-height: 30px;
    padding: 20px 0px 40px 20px;
}

.copyright{
    top:-8px;
    font-size: 0.65em;
}

footer ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer ul li{
    display: inline-block;
    
}

.social{
    display: inline-block;
    text-indent: -9999px;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    opacity: 0.8;
    
}

.github{
    background-image: url(../images/github.svg);
}

.instagram{
    background-image: url(../images/icons8-instagram.svg)
}
.facebook{
    background-image: url(../images/icons8-facebook.svg);
}

.social:hover{
    opacity: 1;
    width: 31px;
    height: 31px
}




/*
@media screen and (max-width:600px) {
    .nav {
        flex-direction: column;
        
    }
    
    nav li:hover {
        transition: .5s;
        background-color: #2662a7;
    }
    
    .nav .name {
        background-color: #f8f4f400;
        width: 100%;
        text-align: center;
        
    }
    
    
    
}
*/